# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.python-version
build/
dist/
*.egg-info/
*.egg

# IDE files
.vscode/
.idea/

# Environment files
.env
